<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black">
   <section class="home">
   
    <div class="image"> <div id="overlay"></div></div>
   
    <div class="content">
        <% if(t == 1){ %>
        <a href="/login" class="absolute top-5 right-5 px-10 py-2 bg-rose-700 text-white font-bold rounded-xl">Login</a>
        <%}%>
           

    <div class="w-screen h-screen flex justify-center items-center gap-20">

        <div class="absolute bottom-32">
            <h1 class=" text-6xl md:text-8xl lg:text-9xl font-extrabold text-white"><span class="text-rose-700">Jam</span>Watch</h1>
            <!-- <h1 class="text-white px-52 py-2 opacity-50">Find what do you want to Watch</h1> -->
        </div>
       
        <div class="absolute bottom-16 md:bottom-16 lg:bottom-16 tex:lg md:text-xl lg:text-3xl">
            <a href="/movie"><button class=" font-bold bg-blue- text-white px-1 md:px-4 lg:px-7 py-3 rounded-xl mx-1">Movie</button>
            </a>
            <a href="/tvShow"><button class=" font-bold bg-purple- text-white px-1 md:px-4 lg:px-7 py-3 rounded-xl mx-1">Web Series</button></a>
            <a href="/anime"><button class="font-bold bg-blac text-white px-1 md:px-4 lg:px-7 py-3 rounded-xl mx-1">Anime</button></a>
        </div>
      
    </div>
  

    </div>
    
   </section>

   <section class="bg-black pt-16">
    
    <p class="text-white px- 0 md:px-32 lg:px-44 text-center text-sm md:text-base lg:text-lg">
        <b>Welcome to JamWatch</b>, where you can find all your favorite <b>movies</b>, <b>web series</b>, and <b>anime</b> in one spot! 
        Whether you're in the mood for a thrilling movie, a binge-worthy web series, or some captivating anime, 
        we've got you covered with a huge selection to explore. Just kick back, relax, and let the browsing begin!
    </p>

    <p class="text-white px- 0 md:px-32 lg:px-44 text-center text-sm md:text-base lg:text-lg mt-6 lg:mt-16">
        Here at JamWatch, we're all about making your movie-watching experience as smooth as possible. Want to find that movie you heard about? 
        No problem! You can easily search by name or dive into specific genres to uncover hidden treasures and timeless classics alike.
    </p>

    <p class="text-white px- 0 md:px-32 lg:px-44 text-center text-sm md:text-base lg:text-lg mt-3 lg:mt-6">
        Plus, with our handy personalized watchlist feature, you can bookmark all the must-watch titles for later. 
        Just log in, and you're ready to curate your very own cinematic adventure. So, what are you waiting for? 
        Let's start jamming with some awesome movies!
    </p>

   </section>



    <!-- <% if(t == 1){ %>

        <form method="post" action="/register">
            <input type="text" placeholder="name" name="username">
            <input type="password" placeholder="password" name="password">
            <button type="submit">Register</button>
        </form>
        <br>
          <form method="post" action="/login">
            <input type="text" placeholder="name" name="username">
            <input type="password" placeholder="password" name="password">
            <button type="submit">Login</button>
        </form>

    <% }else{ %>

        <a href="/list"> My List</a>

    <% } %>    -->


</body>
</html>