<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>heyllo Event Banalo frds..</h1>

    <form action="/createEvent" method="post" enctype="multipart/form-data">
        <input  type="file" name="Img">

        <input type="text" name="title" placeholder="Title">

        <textarea  name="description" placeholder="Description"></textarea>

        <input  type="submit" value="Create Event">

    </form>
   
</body>
</html>