<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/adminReg">
        <input type="text" placeholder="name" name="username">
        <input type="password" placeholder="password" name="password">
        <button type="submit">Admin Register</button>
    </form>
    <br>
      <form method="post" action="/adminLog">
        <input type="text" placeholder="name" name="username">
        <input type="password" placeholder="password" name="password">
        <button type="submit">Admin Login</button>
    </form>
    <br>
    <form method="post" action="/studentReg">
        <input type="text" placeholder="name" name="username">
        <input type="password" placeholder="password" name="password">
        <button type="submit">Student Register</button>
    </form>
    <br>
    <form method="post" action="/studentLog">
        <input type="text" placeholder="name" name="username">
        <input type="password" placeholder="password" name="password">
        <button type="submit">Student Login</button>
    </form>
</body>
</html>